@page "/Index"

@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@attribute [Authorize(Roles="Administrador, Empleado")]

<HeadContent>
    <link rel="stylesheet" href="Index.css" />
</HeadContent>

<AuthorizeView>
    <Authorized>
        <h1>Bienvenido @context.User.Identity!.Name</h1>
    </Authorized>
</AuthorizeView>


<PageTitle >Aridio Renta Car</PageTitle>

<h2>Aridio Renta Car</h2>







<div>Beta 1.0</div>

