@page "/personal"


    <title>Estudiantes en Desarrollo - Alquiler de Vehículos</title>
<style>
    /* Estilos generales */
    body {
        font-family: Arial, sans-serif;
        background-color: #ffffff;
        margin: 0;
        padding: 20px;
    }

    h1 {
        color: #333;
    }

    /* Estilos de la tarjeta de estudiante */
    .student-card {
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
        float: left;
        width: 300px;
        margin-right: 20px;
    }

    .student-card h2 {
        color: #333;
        margin-top: 0;
    }

    .student-card p {
        color: #555;
    }

    /* Colores personalizados */
    .student-card.third1 {
        background-color: rgb(237, 209, 0);
    }

    .student-card.third2 {
        background-color: #006aff4e;
    }

    .student-card.third3 {
        background-color: rgb(76, 224, 152)
    }
</style>


<h1 style="color: rgb(0, 0, 0);">Docentes en Desarrollo - Alquiler de Vehículos</h1>

<div class="student-card third1">
    <h2><strong>Docente 1</strong></h2>
    <p  style="color: rgb(15, 1, 210)"><strong>Nombre: Alexis Reinoso</strong></p>
    <p  style="color: rgb(15, 1, 210)"><strong>Edad: 22 años</strong></p>
    <p  style="color: rgb(15, 1, 210)"><strong>Carrera: Informatica</strong></p>
    <p  style="color: rgb(15, 1, 210)"><strong>Universidad: Universidad Tecnologica Del Cibao Oriental</strong></p>
    <p  style="color: rgb(15, 1, 210)"><strong>Ciudad: Fantino</strong></p>
</div>

<div class="student-card third2">
   <h2><strong>Docente 2</strong></h2>
    <p style="color: red;"><strong>Nombre: Moises Javier</strong></p>
    <p style="color: red;"><strong>Edad: 22 años</strong></p>
    <p style="color: red;"><strong>Carrera: Informatica</strong></p>
    <p style="color: red;"><strong>Universidad: Universidad Tecnologica Del Cibao Oriental</strong></p>
    <p style="color: red;"><strong>Ciudad: Jima Arriba</strong></p>
</div>

<div class="student-card third3">
    <h2><strong>Docente 3</strong></h2>
    <p style="color: rgb(220, 99, 0);"><strong>Nombre: Gregori Grullon</strong></p>
    <p style="color: rgb(220, 99, 0);"><strong>Edad: 23 años</strong></p>
    <p style="color: rgb(220, 99, 0);"><strong>Carrera: Informatica</strong></p>
    <p style="color: rgb(220, 99, 0);"><strong>Universidad: Universidad Tecnologica Del Cibao Oriental</strong></p>
    <p style="color: rgb(220, 99, 0);"><strong>Ciudad: Jima Abajo</strong></p>
</div>

<div style="clear: both;"></div>
