@page "/personal"


    <title>Estudiantes en Desarrollo - Alquiler de Vehículos</title>
    <style>
        /* Estilos generales */
        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            margin: 0;
            padding: 20px;
        }

        h1 {
            color: #333;
        }

        /* Estilos de la tarjeta de estudiante */
        .student-card {
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-bottom: 20px;
        }

        .student-card h2 {
            color: #333;
            margin-top: 0;
        }

        .student-card p {
            color: #555;
        }

        /* Colores personalizados */
        .student-card.third1 {
            background-color: rgb(237, 209, 0);
        }

        .student-card.third2 {
            background-color: #006aff4e;
        }

        .student-card.third3 {
            background-color: rgb(76, 224, 152)
        }
    </style>


    <h1 style="color: brown;">Estudiantes en Desarrollo - Alquiler de Vehículos</h1>

    <div class="student-card third1">
        <h2>Estudiante 1</h2>
        <p><strong>Nombre: Alexis Reinoso</strong></p>
        <p><strong>Edad: 22 años</strong></p>
        <p><strong>Carrera: Informatica</strong></p>
        <p><strong>Universidad: Universidad Tecnologica Del Cibao Oriental</strong></p>
        <p><strong>Ciudad: Fantino</strong></p>
    </div>

    <div class="student-card third2">
        <h2>Estudiante 2</h2>
        <p><strong>Nombre: Moises Javier</strong></p>
        <p><strong>Edad: 22 años</strong></p>
        <p><strong>Carrera: Informatica</strong></p>
        <p><strong>Universidad: Universidad Tecnologica Del Cibao Oriental</strong></p>
        <p><strong>Ciudad: Jima Arriba</strong></p>
    </div>

    <div class="student-card third3">
        <h2>Estudiante 3</h2>
        <p><strong>Nombre: Gregori Grullon</strong></p>
        <p><strong>Edad: 23 años</strong></p>
        <p><strong>Carrera: Informatica</strong></p>
        <p><strong>Universidad: Universidad Tecnologica Del Cibao Oriental</strong></p>
        <p><strong>Ciudad: Jima Abajo</strong></p>
    </div>

