
h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;  
  color: rgb(0, 0, 0);
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;  
    color: rgb(255, 255, 255);
  }

  div{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgb(0, 136, 255);
  }

  .btn.btn-outline-primary.btn-agregar{
    color: rgb(255, 255, 255);
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #000000 70%);
    position: relative;
    left: 20px;
    top: 15px;
    border-radius: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
  }